body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #555555;
}

form {
    margin: 0;
    padding: 0;
}

input,
select,
button,
textarea {
    margin: 0;
}

.all {}

.wrapper {
    padding: 10px 10px 10px 10px;
}

.input-bar {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #F9F9F9;
}

.input-bar a {
    color: #444444;
    text-decoration: none;
}

.input-bar a:hover {
    text-decoration: underline;
}

.setting-form {
    background-color: #FDFDFD;
    border: 1px solid #F5F5F5;
    padding: 10px;
    width: 620px;
    position: absolute;
    display: none;
}

.setting-form table td {
    padding: 2px 0px;
    white-space: nowrap;
}

.setting-form table td:nth-child(2),
.setting-form table td:nth-child(3),
.setting-form table td:nth-child(4),
.setting-form table td:nth-child(5),
.setting-form table td:nth-child(6) {
    width: 100px;
    padding-left: 4px;
}

.setting-form input[type="text"],
.setting-form input[type="password"],
.setting-form input[type="number"] {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    color: #555555;
    padding: 4px;
    width: 100px;
    border-radius: 2px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #555555;
    transition: color 0.5s, box-shadow 0.5s, border-color 0.5s;
}

.setting-form input[type="number"] {
    width: 70px;
}

.setting-form input[type="text"]:focus,
.setting-form input[type="password"]:focus {
    border: 1px solid #A6D3E3;
    box-shadow: 0px 0px 2px #D1E2E9;
}

.input-bar input[type="submit"],
.input-bar input[type="button"] {
    padding: 3px 12px;
    border: 1px solid #DDDDDD;
    background: #EEEEEE;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #555555;
    height: 26px;
    overflow: hidden;
}

.db-area {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.db1-area {
    float: left;
    padding-right: 5px;
}

.db2-area {
    float: right;
    padding-left: 5px;
}

.db-area h3 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.text_db_name {
    font-weight: normal;
}

.table1-container {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.table2-container {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.table1-container,
.table2-container {
    height: 200px;
    overflow: auto;
}

.table1-container a,
.table2-container a {
    color: #555555;
    text-decoration: none;
}

.table-container .missing-table1 td:nth-child(2) a.table-name,
.table-container .missing-table2 td:nth-child(2) a.table-name {
    color: #FF0000;
    font-weight: bold;
}

.table-container .table tbody tr .asterisk {
    color: #FF0000;
}

.field-container {
    margin-top: 10px;
}

.table {
    border-collapse: collapse;
}

.table thead td {
    padding: 4px 4px;
    font-weight: bold;
}

.table tbody td {
    padding: 3px 4px;
}

.table tbody tr.dif-field td {
    background-color: #FF9;
}

.clear {
    clear: both;
}

.title {
    display: inline-block;
    padding: 0px 8px;
}

.table-name {
    font-weight: normal;
}

.swap-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
}

.swap-icon::before {
    content: "↑";
}

.swap-icon::after {
    content: "↓";
}

.swap-control {
    display: inline-block;
}

.dialog-modal {
    display: none;
    position: absolute;
    border: 1px solid #CCC;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.dialog-modal-body {
    padding: 20px;
}

.dialog-modal-footer {
    border-top: 1px solid #CCCCCC;
    padding: 10px 20px;
    text-align: right;
}

.dialog-modal-header h3 {
    border-bottom: 1px solid #CCCCCC;
    background: #EEE;
    margin: 0;
    padding: 10px 20px;
}

.dialog-modal-footer input[type="submit"],
.dialog-modal-footer input[type="button"],
.dialog-modal-footer input[type="reset"],
.dialog-modal-footer button {
    border: 1px solid #DDDDDD;
    background: #EEEEEE;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #555555;
    padding: 8px 12px;
    overflow: hidden;
    min-width: 80px;
}

.link-create {}

.missing-table1 .link-create,
.missing-table2 .link-create {
    display: inline;
}

.textarea.textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    resize: vertical;
    padding: 10px;
}

.textarea.textarea:focus-visible,
.textarea.textarea:focus {
    outline: none;
}